*{
    margin: 0;
    padding: 0;
}

/* .hostel-heading{
    text-shadow:  2px 2px 5px rgba(220, 147, 53, 0.785);
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.details{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 500;
   font-size: medium;
   color: rgba(11, 10, 10, 0.824);
}


ul li{
    margin: 4px;
    padding: 0;
    list-style-type: none;
}

.deatileviewBg{
    background-color: rgba(219, 226, 232, 0.541);
}