.bedIcon {
  font-size: 45px;
}
.room-details {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-size: medium;
  color: rgb(61, 60, 60);
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}
