.register-bg{
    /* background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1684244250/backdrop2_ohofvj.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: whitesmoke;
}
