




.logoFont{
  font-family: "Libre Baskerville";
  /* font-family: 'Times New Roman', Times, serif; */
}

*{
  margin: 0px;
  padding: 0px;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homeScreen{
  background-image: url('https://s3-alpha.figma.com/hub/file/3485325162/a246af21-dcf4-470d-bf21-13710bacc942-cover.png');
  background-size: cover;
  background-repeat: no-repeat;
}


/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
