.slider-container {
    /* background-color: #EFDDD9; */
    /* background-color: rgba(6, 6, 38, 0.801); */
    background-color: rgba(197, 214, 229, 0.922);
    text-shadow: rgb(22, 24, 77);
    color: rgb(7, 7, 43);
    padding: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}