.user-payment-data{
    min-height: 40vh;
    max-height: 50vh;
    overflow-y: auto;
}

.heading-lines{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.dash-board-top-section{
    background-image: url('https://s3-alpha.figma.com/hub/file/3485325162/a246af21-dcf4-470d-bf21-13710bacc942-cover.png');
    width: 100%;
    padding: 7%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(5, 21, 128, 0.692); */
    /* background-color: rgba(1, 60, 150, 0.872); */

}





